/* Trippy Section */
.panel{
  margin-left: 45%;
  width:150px;
  height:150px;
  box-shadow: 0 0 50px blue;
  background-image: url("./../images/panel.png");
}
.parent{
  height:250px;
}

/* Character Select Section */

.characterBox:hover{
  animation:goUp .3s 1 ease-in;
  position: relative;
  bottom:10px;
  border-color:blue;
  background:#262626;
}

.characterBox{
    bottom:0px;
    animation: goDown .3s 1 ease-out;
}
