.bb{
  background:black !important;
}

.bBord{
  border-bottom:5px solid blue;
}
.w100{
  width:100%;
}
.f40px{
  font-size: 40px;

}
.container-fluid{
  padding-left:0;
  padding-right:0;
}
.mt5{
  margin-top: 5% !important;
}
.stock{
  height:300px;

}
.b03{
  background:#03c6fc !important;
  border:2px solid white !important;
}
.blueDot:hover{
  background:white !important;
}
.blueDot{
  background:white;
  border:3px solid #03c6fc;
  border-radius: 50%;
  height:100%;

}
.blueDot:hover{
  background:#03c6fc;
}
.mt2_5{
  margin-top: 2.5% !important;
}
.c45{
    color:#34cceb !important;
}
.ml5{
  margin-left:5%;

}
.ml10{
  margin-left:6%;

}
.ml25{
  margin-left: 25%;
}
.w50{
  width:50%;
}
.blB{
  border:2px solid blue;
}
.pb100px{
  padding-bottom: 100px;
}

.cw{
  color:white !important;
}
.center{
  text-align: center;
}
.gr{
  color:grey;
}

.pb25px{
  padding-bottom:25px;
}
.pb50px{
  padding-bottom:50px;
}
