.bb{
  background:black !important;
}

.bBord{
  border-bottom:5px solid #5083fa;
}

.w100{
  width:100%;
}
.br50{
    border-radius: 50%;
}
.cover{
  background-size: cover;
}
.moveDown200px{
  bottom:200px;
}


.o{
  opacity:0;
}
.Lato{
    font-family: "Lato";
}
.f70px{
  font-size: 70px !important;
}

.changeB{
  animation: changeB 10s ease-in-out infinite;
}

.c34{
    color:#34cceb !important;
}
.ml5{
    margin-left:5% !important;
}

.mt1{
  margin-top: 1% !important;
}

.h300px{
  height: 300px;
}

.f40px{
  font-size: 40px;
}
.bb{
  background: black;
}
.cw{
  color:white;
}

.br5px{
  border-radius:5px;
}
.p10px{
  padding: 10px;
}

.turnBold:hover{
  border: red 5px solid !important;
}

.turnBold:hover > p{
  color: red !important;
  font-weight: bold;
}

.bWW{
  border:#5083fa 5px solid
}

.bBB{
  border:#262626 5px solid
}

.turnRedB:hover{
  border-color:red;
}

.container-fluid{
  padding-left:0;
  padding-right:0;
}

.h100px{
  height:100px;
}
.posRel{
  position: relative;
}
.bBB{
    border:2px solid black;
}
.mt5{
  margin-top: 5%;
}


.pl20px{
  padding-left:20px;
}

.mt5{
  margin-top: 5% !important;
}

.stock{
  height:300px;
}

.b03{
  background:#03c6fc !important;
  border:2px solid white !important;
}

.blueDot:hover{
  background:white !important;
}

.blueDot{
  background:white;
  border:3px solid #03c6fc;
  border-radius: 50%;
  height:100%;
}

.blueDot:hover{
  background:#03c6fc;
}

.mt2_5{
  margin-top: 2.5% !important;
}

.c45{
  color:#34cceb !important;
}

.ml5{
  margin-left:5%;
}

.ml10{
  margin-left:6%;
}

.no-style{
  background:none !important;
  border: none !important;
}

.no-style:focus{
  background:none !important;
  border: none !important;
}

.p0{
  padding: 0;
}

.ml25{
  margin-left: 25%;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.w50{
  width:50%;
}

.bigText{
  font-size: 45px;
}

.blB{
  border:2px solid blue;
}

.pb100px{
  padding-bottom: 100px;
}

.cw{
  color:white !important;
}

.center{
  text-align: center;
}

.gr{
  color:grey;
}

.pb25px{
  padding-bottom:25px;
}

.pb50px{
  padding-bottom:50px;
}

/* Animations */

@keyframes goUp{
  0%{
    bottom:0
  }
  100%{
    bottom:10px;
  }
}

@keyframes goDown{
  0%{
    bottom:10px
  }
  100%{
    bottom:0px;
  }
}

@keyframes changeB{
  0%{
    background:black;
  }
  50%{
    background:#0d0d0d
  }

  100%{
    background:black
  }
}
